/* GENERAL */

* {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: GrouchITC;
    src: url(fonts/GrouchITC.otf);
}

@keyframes fadein {
	from { opacity: 0;}
	to { opacity: 1;}
}

@-webkit-keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}


a {
	text-decoration: none;
}

/* – – – – – – – – – – – – – – – – – – – – */

/* FONTS
		Titles - GrouchITC
		Headings - Futura
		Subheadings - Futura
		Body Copy - Crimson Text
*/

h1 { 
	font-family: 'GrouchITC', serif;
	font-size: 50pt;
	padding: 30px;
}

h2 {
	font-family: 'GrouchITC', serif;
	font-size: 16pt;
	padding: 0 10px 0 30px;
	margin-top: 30px;
	letter-spacing: 1pt;
}

h3 {
	font-family: 'Futura', sans-serif;
	font-size: 16pt;
	margin: 10px 10px 0 30px;
	letter-spacing: 1pt;
}

h4 {
	font-family: 'Futura', sans-serif;
	font-size: 14pt;
	letter-spacing: 1pt;
}

.subtitle {
	font-family: 'Crimson Text', serif;
	font-size: 14pt;
}

p {
	font-family: 'Crimson Text', serif;
	font-size: 12pt;
	margin: 0 10px 0 30px;
}

/* – – – – – – – – – – – – – – – – – – – – */

/* COLOURS
		Work = Beige
		About = Black
		Doodles = Blue
		Process = Green
		Contact = White
*/

.work {
	background-color: #dfd4c9;
	color: #347cb6;
}

.work a {
	color: #347cb6;
}

.about {
	background-color: #231f20;
	color: #e9eae3;
}

.about a {
	color: #e9eae3;
}

.doodles {
	background-color: #347cb6;
	color: #e9eae3;
}

.doodles a {
	color: #e9eae3;
}

/*.process {
	background-color: #5d8c87;
	color: #e9eae3;
}

.process a {
	color: #e9eae3;
}*/

.contact {
	background-color: #e9eae3;
	color: #347cb6;
}

.contact a {
	color: #347cb6;
}

/* – – – – – – – – – – – – – – – – – – – – */

/* NAV BAR
		Work = Beige, Blue Text & Pencil
		About = Black, White Text & Candle
		Doodles = Blue, White Text & Zigzags
		Process = Green, White Text & Hourglass
		Contact = White, Blue Text & Mail Box
*/

nav {
	display: flex;
	justify-content: space-between; 
}

.navbar {
	display: flex;
	justify-content: flex-end; 
	text-align: center;
	padding-right: 30px;
}

.navbar-work {
	background-color: #dfd4c9;
	height: 150px;
	width: 100px;
	margin: 0 5px 5px 5px;
}

.navbar-work a {
	color: #347cb6;
}

.navbar-work img {
	width: 80%;
}

.navbar-about {
	background-color: #231f20;
	color: #e9eae3;
	height: 150px;
	width: 100px;
	margin: 0 5px 5px 5px;
}

.navbar-about a {
	color: #e9eae3;
}

.navbar-about img {
	width: 80%;
}

.navbar-doodles {
	background-color: #347cb6;
	color: #e9eae3;
	height: 150px;
	width: 100px;
	margin: 0 5px 5px 5px;
}

.navbar-doodles a {
	color: #e9eae3;
}

.navbar-doodles img {
	width: 80%;
}

/*.navbar-process {
	background-color: #5d8c87;
	color: #e9eae3;
	height: 150px;
	width: 100px;
	margin: 0 5px 5px 5px;
}

.navbar-process a {
	color: #e9eae3;
}

.navbar-process img {
	width: 80%;
}*/

.navbar-contact {
	background-color: #e9eae3;
	color: #347cb6;
	height: 150px;
	width: 100px;	
	margin: 0 5px 5px 5px;
}

.navbar-contact a {
	color: #347cb6;
}

.navbar-contact img {
	width: 80%;
}

/* – – – – – – – – – – – – – – – – – – – – */

/* WORK */
/* the sidebar*/

.container {
	margin-top: 40px;
	display: flex;
	
}

.container h2 {
	padding-bottom: 10px;
}

.sidebar-nav {
	display: flex;
	flex-direction: column;
}

.work button {
	background-color: #e9eae3;
	color: #347cb6;
	border: none;
	padding: 5px 10px;
	margin: 3px 30px;
	text-decoration: none;
	text-align: left;
	cursor: pointer;
	outline: none;
}

.work .active {
	background-color: #dfd4c9;
	outline: none;
}

.sidebar-nav h4 {
	font-size: 12pt;
}

/* the client & project content */
.work-content {
	width: 70%;
}

.workItem {
	display: none;
	-webkit-animation: fadeEffect 1s;
	animation: fadeEffect 1s;
}

.workItem img {
	padding: 30px 10px 30px 30px;
}


.workItem h1 {
	font-size: 30pt;
	width: 50%;
}

.workItem h3 {
	font-size: 14pt;
	padding-bottom: 20px;
	width: 75%;
}

.workItem h4 {
	font-size: 12pt;
	padding-left: 30px;
	padding-bottom: 15px;
}

.workItem .subtitle {
	font-size: 12pt;
	padding-bottom: 3px;
}

.workItem p {
	font-size: 10pt;
}

/* – – – – – – – – – – – – – – – – – – – – */

/* ABOUT */

.about-content {
	display: flex;
	justify-content: center;
	margin-top: 70px;
}

.about-content img {
	width: 40%;
	height: 40%;
	padding-right: 60px;
}

.blurb {
	margin-top: 5px;
}

.blurb h3, .blurb p {
	margin: 0;
}

/* – – – – – – – – – – – – – – – – – – – – */

/* DOODLES */

.doodles button {
	background-color: #231f20;
	color: #e9eae3;
	border: none;
	padding: 5px 100px 5px 10px;
	margin: 3px 30px;
	text-decoration: none;
	text-align: left;
	cursor: pointer;
	outline: none;
}

.doodles .active {
	background-color: #347cb6;
	outline: none;
}


/* – – – – – – – – – – – – – – – – – – – – */

/* CONTACT */

.contact .blurb {
	text-align: center;
	padding-top: 70px;
}

.blurb h1 {
	padding: 0;
	font-size: 42pt;
}

/* – – – – – – – – – – – – – – – – – – – – */

/* FOOTER */

footer {
	padding-bottom: 30px;
}


footer p {
	padding: 20px; 
}






