.blog {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.page-title {
	padding-bottom: 0;
}

.blog-credits {
	padding-top: 80px;
}

.credits {
	display: block;
	font-size: 8pt;
	padding-bottom: 4px;
	text-decoration: none;
	color: #1E1417;
}

.credits:hover {
	color: #C6A28C;
}

.blog-blurb {
	width: 60%;
	padding-top: 75px;
}

.blog-archives {
	padding-top: 68px;
	width: 16%;
	display: flex;
}

/* THIS IS IN THE MISC SECTION OF STYLE CSS

.filter {
	display: inline-block;
	align-self: flex-start;
	padding-top: 8px;
}*/

.blog-archives img {
	width: 23%;
	align-self: flex-start;
	padding-left: 6px;
}

.blog-img img {
	width: 100%;
	padding-bottom: 20px;
}








