.splash img {
-webkit-filter: grayscale(20%);
}

.grid {
	width: 85%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.grid-item {
	width: 30%;
	height: 220px;
	background-color: #D28974;
	margin: 0 0 40px 0;
}

.grid-item img {
	width: 100%;
}

.shop-filter {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	padding-bottom: 20px;
}

.shop-filter img {
	width: 5%;
	align-self: flex-start;
	padding-left: 6px;
}