/*----------- FONTS -----------*/
@font-face {
	font-family: Montserrat-light;
	src: url(../fonts/Montserrat-Light.otf);
}
@font-face {
	font-family: Montserrat-reg;
	src: url(../fonts/Montserrat-Regular.otf);
}
@font-face {
	font-family: BerkeBoo;
	src: url(../fonts/BerkeBoo);
}

/*----------- GENERAL ----------*/
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #F6D4BA;
}

.green-bars {
	height: 100%;
	width: 100%;
	background-color: #CBD6CA;
}

.wrapper {
	margin: 0 auto;
	width: 90%;
	background-color: white;
}

/*---------- HEADER ----------*/
header {
	width: 98%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

header img {
	height: 100%;
	width: 27%;
	padding-left: 55px;

}

.hamburger {
	display: none;
}

nav {
	display: flex;
	justify-content: space-between;
	font-family: Montserrat-reg;
	font-size: 10pt;
	text-transform: uppercase;
	letter-spacing: 1.4px;
	width: 25%;
	padding: 50px;
} 

nav a {
	color: #1E1417;
	text-decoration: none;
}

nav a:hover {
	color: #D1C9BE;
}

/*---------- SPLASH ----------*/
.splash {
	width: 90%;
	max-height: 750px;
	/*background-color: #1E1417;*/
	margin: 0 auto;
	margin-top: 140px;
}

.splash img {
	width: 100%;
}

/*---------- SLIDER ----------*/
.slider {
	width: 75%;
	height: 230px;
	margin: 0 auto;
	margin-top: 120px;
	display: flex;
	justify-content: space-around;
}

.slider-item1, .slider-item2, .slider-item3 {
	width: 27%;
	height: 100%;
}

.slider-item1 {
	background-color: #D28974;
}

.slider-item1 img, .slider-item2 img, .slider-item3 img {
	-webkit-filter: grayscale(20%);
}

.slider-item2 {
	background-color: #C6A28C;
}

.slider-item3 {
	background-color: #E6BC96;
}


/*---------- MISC PAGE CONTENT ----------*/
.page-title, .subtitle, .credits, .filter {
	font-family: Montserrat-light;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 1px;
}

.page-title {
	font-size: 18pt;
	text-align: center;
	padding-top: 120px;
	padding-bottom: 75px;
}

.subtitle {
	font-size: 15pt;
	padding-top: 0;
	padding-bottom: 30px;
}

.body-copy {
	font-size: 13pt;
	font-family: BerkeBoo;
	line-height: 20px;
	padding-bottom: 20px;
}

.filter {
	font-size: 10pt;
	padding-top: 8px;
}


/*---------- FOOTER ----------*/
footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	font-family: Montserrat-reg;
	letter-spacing: 0.8px;
	font-size: 9pt;
	padding: 200px 0 15px 30px;
}

footer a {
	color: #1E1417;
	text-decoration: none;
	text-transform: uppercase;
	padding-right: 5px;
}

footer p {
	font-family: Montserrat-light;
	text-align: right;
	padding-right: 30px;
	line-height: 16px;
	font-size: 8pt;
}

/*---------- *** MEDIA QUERIES *** ----------*/

@media only screen and (max-width: 1232px) {
.wrapper {width: 95%;}
}


@media only screen and (max-width: 1168px) {
.wrapper {width: 100%;}
}






