.button-container {
	text-align: center;
}

button {
	border-radius: 0;
	background: white;
	border: 2px solid black;
	padding: 10px;
	font-family: Montserrat-reg;
	font-size: 10pt;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	margin-bottom: 40px;
}

button:hover {
	color: #D28974;
}

.button-all {
	background: #D28974;
}

.button-all:hover {
	color: white;
	background: #c6684d;
}

.button-group {
	display: inline;
	margin: 0 auto;
}

.grid {
	width: 85%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.grid-item {
	width: 30.5%;
	height: 232px;
	margin: 0 0 40px 0;
	padding: 0 10px;
}

.grid-item img {
	width: 100%;
}

.grid-item img:hover {
	-webkit-filter: blur(2px);
}

.work-filter {
	margin: 0 auto;
	padding-bottom: 20px;
}

.work-filter img {
	width: 10%;
	align-self: flex-start;
	padding-left: 6px;
}

/*---------- *** MEDIA QUERIES *** ----------*/

@media only screen and (max-width: 1168px) {
.grid-item {width: 31%;
			margin: 0 0 30px 0;}}


@media only screen and (max-width: 1110px) {
.grid {width: 90%;}

.grid-item {width: 31%;
			margin: 0 0 40px 0;}}


@media only screen and (max-width: 1050px) {


/* When grid sitches to 2 columns */
@media only screen and (max-width: 993px) {
.button-container {width: 75%;
				   margin: 0 auto;
				   margin-bottom: 40px;}

.button-group button {margin: 5px;}

.grid {width: 70%;}

.grid-item {width: 45%;
			margin: 0 0 45px 0;}

nav {
	visibility: hidden;
}

.hamburger {
	display: inline;
	font-size: 40pt;
	text-decoration: none;
	color: #1E1417;
	margin-right: 50px;
	margin-top: 20px;
}

.hamburger:hover {
	color: #D28974
}

}



@media only screen and (max-width: 915px) {
.grid-item {margin: 0 0 20px 0;}}


@media only screen and (max-width: 820px) {
.button-container {width: 80%;}

.grid-item {margin: 0 0 2px 0;}}


@media only screen and (max-width: 760px) {
.grid {width: 80%;}

.grid-item {width: 48%;
			margin: 0 0 10px 0;
			padding: 0 5px;}}


@media only screen and (max-width: 681px) {
.button-container {width: 90%;}}


@media only screen and (max-width: 681px) {
button {width: 40%;
		padding: 20px;}

.grid {width: 90%;}

.grid-item {margin: 0 0 2px 0;}}


/* When grid switches to one column */
@media only screen and (max-width: 555px) {
.button-group button {margin: 10px;}

button {width: 80%;
		padding: 20px;
		font-size: 12pt;}

.grid {width: 80%;
	   margin-top: 70px;}

.grid-item {width:100%;
			margin: 0 0 150px 0;}}


@media only screen and (max-width: 450px) {
.grid-item {margin: 0 0 100px 0;}}

















